<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Search for a City | HOME</title>
    <meta name="description" content="Learning Spring | HOME">
    <meta name="author" content="Art">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="container">
        IM ADMIN
    </div>
    <form th:action="@{/admin}" method="POST">
        <button type="submit" name="submit" class="link-button">Log Out</button>
    </form>
</body>

</html>