<!DOCTYPE html>
<html lang="en">

  <head th:include="shared/head :: head (pageTitle='View all Groups')" />

  <body>
    <div class="page">
      <div th:include="shared/navbar :: navbar (active='groups')" />

      <div class="container">
        <h1 class="page__header">Displaying all Groups <button type="button" data-bs-toggle="modal"
            data-bs-target="#addGroup" aria-expanded="false" th:if="${session.isValidated}"
            class="text-uppercase btn btn-success">add new
            group</button></h1>
        <div class="modal fade" id="addGroup" tabindex="-1" data-bs-backdrop="static" aria-labelledby="groupLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text__color-blue" id="groupLabel">Enter a group name:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form th:action="@{/groups}" method="POST">
                <div class="modal-body">
                  <img src="/images/group.webp" class="img-fluid"
                    alt="A day care group of children listening to the teacher">
                  <label for="grpName" class="form-label text__color-gray">Group Name</label>
                  <input required class="form-control shadowed-light" name="grpName" type="text"
                    placeholder="Waterpuddle">


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-warning">Add Group</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <table class="table table-hover table-borderless shadowed">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Group Name:</th>
              <th scope="col">Employee Name:</th>
              <th scope="col">Children:</th>
              <th th:if="${session.isValidated}" scope="col">Edit Groups:</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="group  : ${myGroups}"
              th:if="${!(interfaceKidService.findKidByGrpId(group.getGrpId()).size()<1) && !group.getGrpName().equals('Queue') && !group.getGrpName().equals('Not Assigned')}  ">
              <form th:action="@{/editGroup}" method="POST">
                <th class="w-5" scope="row">
                  <span th:text="${myGroups.indexOf(group)-1}"></span>
                  <div th:if="${session.isValidated}">
                    <input th:value="${group.getGrpId()}" name="grpId" type="hidden">
                  </div>
                </th>
                <td class="w-20">
                  <span th:text="${group.getGrpName()}"></span>
                  <div th:if="${session.isValidated}" class="collapse edit__menu" th:id="'group'+${group.getGrpId()}">
                    <input class="form-control edit__options shadowed-light" th:value="${group.getGrpName()}"
                      name="grpName" type="text">
                  </div>
                </td>
                <td class="w-20">
                  <span th:if="${interfaceEmployeeService.findEmployeeByGrpId(group.getGrpId()).size() < 1}">Not
                    Assigned</span>
                  <span th:each="employee : ${interfaceEmployeeService.findEmployeeByGrpId(group.getGrpId())}"
                    th:text="${employee.getEmpName()} + ' &nbsp; &nbsp; '">
                  </span>
                </td>

                <td class="w-20">
                  <div th:if="${interfaceKidService.findKidByGrpId(group.getGrpId()).size()>=1}" class="dropdown">
                    <a class="dropdown-toggle text__color-blue" id="childrenDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false" th:text="${group.getGrpName()} + '\'s Children' ">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="childrenDropdown">
                      <li><span th:each="kid : ${interfaceKidService.findKidByGrpId(group.getGrpId())}"
                          class="dropdown-item" th:text="${kid.getKidName()}"></span></li>
                    </ul>
                  </div>

                </td>
                <td class="w-15" th:if="${session.isValidated}">
                  <button type="button" class="text-uppercase btn btn-warning" data-bs-toggle="collapse"
                    th:href="'#group'+${group.getGrpId()}" aria-expanded="false">Edit</button>
                  <button type="submit" class="text-uppercase btn btn-danger"
                    th:formaction="@{/deleteGroup}">Delete</button>
                  <div class="collapse" th:id="'group'+${group.getGrpId()}">
                    <button type="submit" class="text-uppercase btn btn-success button__save">SAVE</button>
                  </div>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>

      <footer th:include="shared/footer :: footer" class="mt-5" />
    </div>
  </body>

</html>