<!DOCTYPE html>
<html lang="en">

  <head th:include="shared/head :: head (pageTitle='View all Groups')" />

  <body>
    <div class="page">
      <div th:include="shared/navbar :: navbar (active='groups')" />

      <div class="container">
        <h1 class="page__header">Displaying all the Groups</h1>
        <table class="table table-hover table-borderless pb-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Group Name:</th>
              <th scope="col">Employee Name:</th>
              <th scope="col">Children:</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="group : ${myGroups}">
              <th scope="row" th:text="${group.getGrpId()}"></th>
              <td th:text="${group.getGrpName()}"></td>
              <td>
                <span th:each="employee : ${interfaceEmployeeService.findEmployeeByGrpId(group.getGrpId())}"
                  th:text="${employee.getEmpName()} + ' &nbsp; &nbsp; '"></span>
              </td>

              <td>
                <div th:if="${interfaceKidService.findKidByGrpId(group.getGrpId()).size()>=1}" class="dropdown">
                  <a class="dropdown-toggle text__color-blue" id="childrenDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" th:text="${group.getGrpName()} + '\'s Children' ">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="childrenDropdown">
                    <li><span th:each="kid : ${interfaceKidService.findKidByGrpId(group.getGrpId())}"
                        class="dropdown-item" th:text="${kid.getKidName()}"></span></li>
                  </ul>
                </div>
                <span th:if="${interfaceKidService.findKidByGrpId(group.getGrpId()).size()<1 }"
                  th:text="${group.getGrpName()} + ' doesn't have any kids'"></span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <footer th:include="shared/footer :: footer" class="mt-5" />
    </div>
  </body>

</html>