<!DOCTYPE html>
<html lang="en">

  <head th:include="shared/head :: head (pageTitle='View all Groups')" />

  <body>
    <div class="page">
      <div th:include="shared/navbar :: navbar (active='groups')" />

      <div class="container">
        <h1 class="page__header">Displaying all the Groups</h1>
        <table class="table table-hover table-borderless shadowed">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Group Name:</th>
              <th scope="col">Employee Name:</th>
              <th scope="col">Children:</th>
              <th th:if="${session.isValidated}" scope="col">Edit Groups:</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="group : ${myGroups}">
              <form>
                <th class="w-5" scope="row">
                  <span th:text="${group.getGrpId()}"></span>
                  <div th:if="${session.isValidated}">
                    <input class="d-none" th:value="${group.getGrpId()}" name="id" type="number">
                  </div>
                </th>
                <td class="w-20">
                  <span th:text="${group.getGrpName()}"></span>
                  <div th:if="${session.isValidated}" class="collapse edit__menu" th:id="'group'+${group.getGrpId()}">
                    <input class="form-control edit__options" th:value="${group.getGrpName()}" name="name" type="text">
                  </div>
                </td>
                <td class="w-20">
                  <span th:each="employee : ${interfaceEmployeeService.findEmployeeByGrpId(group.getGrpId())}"
                    th:text="${employee.getEmpName()} + ' &nbsp; &nbsp; '"></span>
                </td>

                <td class="w-20">
                  <div th:if="${interfaceKidService.findKidByGrpId(group.getGrpId()).size()>=1}" class="dropdown">
                    <a class="dropdown-toggle text__color-blue" id="childrenDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false" th:text="${group.getGrpName()} + '\'s Children' ">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="childrenDropdown">
                      <li><span th:each="kid : ${interfaceKidService.findKidByGrpId(group.getGrpId())}"
                          class="dropdown-item" th:text="${kid.getKidName()}"></span></li>
                    </ul>
                  </div>
                  <span th:if="${interfaceKidService.findKidByGrpId(group.getGrpId()).size()<1 }"
                    th:text="${group.getGrpName()} + ' doesn't have any kids'"></span>
                </td>
                <td class="w-15" th:if="${session.isValidated}">
                  <button type="button" class="btn btn-warning" data-bs-toggle="collapse"
                    th:href="'#group'+${group.getGrpId()}" aria-expanded="false">Edit</button>
                  <button type="button" th:onclick="pageTransition()" class="btn btn-danger">Delete</button>
                  <div class="collapse" th:id="'group'+${group.getGrpId()}">
                    <button type="submit" th:onclick="pageTransition()"
                      class="btn btn-success button__save">SAVE</button>
                  </div>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>

      <footer th:include="shared/footer :: footer" class="mt-5" />
    </div>
  </body>

</html>