body {
	font-family: 'Baloo 2', cursive;
	font-weight: 800;
	background-image: url("/images/background.webp");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f8f9fa;
}

/* TEXT */
.text__color-pink,
.active {
	color: #ff6f96 !important;
}

.text__color-blue {
	color: #32355d !important;
}

.text__color-gray {
	color: #757678;
}

/* NAVBAR */
.navbar,
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.nav-item {
	font-size: 24px;
}
.nav-item:hover {
	background-color: #ff6f96;
	transition: background-color 0.5s ease;
}
.active:hover {
	background-color: #32355d;
	transition: background-color 0.5s ease;
}
.navbar-brand {
	font-size: 36px;
}

/* CARDS */
.main__page-card {
	position: absolute;
	left: 15%;
	top: 40vh;
}
.main__page-card h1 {
	width: 60%;
	font-size: 68px;
}
.main__page-card h2 {
	font-size: 40px;
}

/* LOGIN */
.login__container {
	position: absolute;
	width: 20%;
	left: 15%;
	top: 40vh;
}

.login__container h1 {
	font-size: 68px;
}

.login__container h2 {
	font-size: 40px;
}

.login__buton {
	margin-right: 60px;
}

.login__wrong-login {
	font-size: 62px !important;
}

.logout_button {
	background-color: transparent;
	font-weight: 800;
	border: none;
}
/* FOOTER */
footer {
	background-color: #f8f9fa;
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	height: 30px;
	padding-top: 5px;
}

footer a {
	text-decoration: none;
}
