body {
	font-family: 'Roboto';
	background: linear-gradient(to top, rgb(180, 144, 202) 0%, rgb(94, 231, 223) 100%);
	background-attachment: fixed;
}

h1 {
	margin: 0;
	padding: 10px 20px;
	background: rgb(110, 109, 181);
	color: white;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: normal;
}

input {
	font-size: 20px;
	background: #f1f5ea;
	border: 3px solid rgba(110, 109, 181);
	color: rgb(110, 109, 181);
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
}

input:focus {
	background: #f1f5ea;
	border: 3px solid rgb(110, 109, 181);
	outline: none;
}

button {
	background-color: transparent;
	border-color: transparent;
}

button:focus {
	outline: transparent;
}

a {
	color: rgb(61, 34, 78);
	text-decoration: none;
	font-size: 20px;
	padding: 0 153px;
}

#container {
	width: 350px;
	margin: 150px auto;
	background: #f1f5ea;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#btnintext {
	position: absolute;
	margin-left: -40px;
	padding-top: 10px;
}

#btnintext i {
	font-size: 25px;
	color: rgb(110, 109, 181);
	cursor: pointer;
}

#result {
	color: rgb(110, 109, 181);
	font-size: 26px;
	padding: 0px 20px 10px 20px;
}
