body {
	font-family: 'Baloo 2', cursive;
	font-weight: 800;
	background-image: url("/images/background.webp");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f8f9fa;
	height: 100vh;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(33 30 45 / 45%);
	background-image: url("/images/loading.svg");
	background-repeat: no-repeat;
	background-position: center;
}

/* TEXT */
.text__color-pink,
.active {
	color: #ff6f96 !important;
	background-color: transparent;
}

.text__color-blue {
	color: #32355d !important;
}

.text__color-gray {
	color: #757678;
}

/* NAVBAR */
.navbar,
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.nav-item {
	z-index: 1;
	font-size: 24px;
}

.nav-link::after,
.navbar-brand::after,
.active::after {
	opacity: 0;
	content: '';
	width: 0px;
	height: 6px;
	border-radius: 8px;
	display: block;
	transition: 200ms;
}

.nav-link::after,
.navbar-brand::after {
	background: #ff6f96;
}

.active::after {
	background: #32355d;
}

.active:hover::after,
.navbar-brand:hover::after {
	opacity: 1;
	width: 100%;
}

.nav-link:hover::after {
	opacity: 1;
	width: 100%;
}

.navbar-brand {
	font-size: 50px;
}

/* CARDS */
.main__page-card {
	position: absolute;
	left: 8vw;
	top: 30vh;
}
.main__page-card h1 {
	width: 60%;
	font-size: 68px;
}
.main__page-card h2 {
	font-size: 40px;
}

/* LOGIN */
.login__container {
	position: absolute;
	width: 515px;
	left: 8vw;
	top: 30vh;
}

.login__container h1 {
	font-size: 68px;
}

.login__container h2 {
	font-size: 40px;
}

.login__button {
	background-color: #32355d;
	border-color: #32355d;
	margin-right: 60px;
	width: 88%;
}
.login__button:hover,
.login__button:focus,
.login__button:active {
	background-color: #ff6f96;
	border-color: #ff6f96;

	box-shadow: none !important;
}
.login__wrong-login {
	color: #ff6f96;
	font-size: 62px !important;
}

.logout_button {
	background-color: transparent;
	font-weight: 800;
	border: none;
}

/* TABLE */

table {
	border-radius: 8px;
	background-color: #dee2e6ba;
}
thead {
	background-color: #ff6f9666;
}
/* FOOTER */
footer {
	background-color: #f8f9fa;
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
	height: 30px;
	padding-top: 5px;
}

footer a {
	text-decoration: none;
}
