<!DOCTYPE html>
<html lang="en">

  <head th:include="shared/head :: head (pageTitle='View all Children')" />

  <body>
    <div class="page">
      <div th:include="shared/navbar :: navbar (active='children')" />
      <div class="container">
        <h1 class="page__header">Displaying all the Children</h1>
        <table class="table table-hover table-borderless shadowed">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name:</th>
              <th scope="col">Group:</th>
              <th scope="col">Age:</th>
              <th scope="col">Mother's Name:</th>
              <th scope="col">Father's Name:</th>
              <th th:if="${session.isValidated}" scope="col">Edit Children:</th>

            </tr>
          </thead>
          <tbody>
            <tr th:each="kid : ${myKids}">
              <th scope="row" th:text="${kid.getKidId()}"></th>
              <td th:text="${kid.getKidName()}"></td>
              <td th:text="${interfaceGroupService.findGroupById(kid.getKidGrpId()).getGrpName()}"></td>
              <td th:text="${kid.getKidAge()}"></td>
              <td th:text="${interfaceParentService.findParentById(kid.getKidParentId()).getMomName()}"></td>
              <td th:text="${interfaceParentService.findParentById(kid.getKidParentId()).getDadName()}"></td>

              <td th:if="${session.isValidated}">
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <footer th:include="shared/footer :: footer" class="mt-5" />
    </div>
  </body>

</html>