<!doctype html>
<html lang="en">

  <head th:include="shared/head :: head (pageTitle='Admin Page')" />

  <body>
    <div class="page">
      <div th:include="shared/navbar :: navbar (active='admin')" />
      <div class="main__page-card">
        <h1 class="text__color-pink">Something went wrong! </h1>
        <h2 class="text__color-gray mb-2">Our Engineers are on it</h2>
        <a th:href="@{/}" type="submit" class="btn btn-primary login__button shadowed w-50">Go Back</a>
      </div>
    </div>
  </body>

</html>