<!doctype html>
<html lang="en">

    <head th:include="shared/head :: head (pageTitle='Login Page')" />

    <body>
        <div class="page">
            <div th:include="shared/navbar :: navbar (active='login')" />

            <form action="#" th:action="@{/login}" th:object="${myLogin}" method="post">
                <div class="login__container">
                    <h1 class="login__wrong-login" th:object="${wrongCredentials}"
                        th:if="${wrongCredentials}">
                        You entered wrong credentials</h1>
                    <h1 class="text__color-blue" th:object="${wrongCredentials}" th:if="${wrongCredentials == null}">Log
                        in
                        with your credentials</h1>
                    <div class="input-group">
                        <div class="mb-3 me-2">
                            <label class="form-label text__color-gray">Account Name</label>
                            <input class="form-control" th:field="*{inputUserName}" placeholder="Name" type="text">
                        </div>
                        <div class="mb-3 ">
                            <label class="form-label text__color-gray">Account Password</label>
                            <input class="form-control" th:field="*{inputUserPassword}" placeholder="Password"
                                type="password" autocomplete="off">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary login__button">Submit</button>
                </div>
            </form>
            <footer th:include="shared/footer :: footer" class="mt-5" />
        </div>
    </body>

</html>