<!DOCTYPE html>
<html lang="en">

  <head th:include="shared/head :: head (pageTitle='View all Employees')" />

  <body>
    <div class="page">
      <div th:include="shared/navbar :: navbar (active='employees')" />

      <div class="container">
        <h1 class="page__header">Displaying all the Employees <button type="button" data-bs-toggle="modal"
            data-bs-target="#addGroup" aria-expanded="false" th:if="${session.isValidated}"
            class="text-uppercase btn btn-success">add new
            Employee</button></h1>
        <div class="modal fade" id="addGroup" tabindex="-1" data-bs-backdrop="static"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text__color-blue" id="exampleModalLabel">Enter the Employee details:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST">
                <div class="modal-body">
                  <img src="/images/employee.webp" class="img-fluid" alt="Three day care employees sitting with 3 babies">
                  <label for="empName" class="form-label text__color-gray">Emplyoee Name:</label>
                  <input required class="form-control shadowed-light" name="empName" type="text"
                    placeholder="Waterpuddle">

                  <label for="schedule" class="form-label text__color-gray">Schedule:</label>
                  <select required name="schedule" class="form-control shadowed-light form-select"
                    aria-label="Schedule Selector">
                    <option th:each="schedule : ${mySchedule}" th:text="${schedule.getSchTime()}"
                      th:value="${schedule.getSchId()}"></option>
                  </select>

                  <label for="phoneNumber" class="form-label text__color-gray">Phone Number:</label>
                  <input required class="form-control shadowed-light" name="phoneNumber" type="tel"
                    placeholder="+45689428" pattern="[0-9]{8}">

                  <input required class="d-none" name="role" type="text" th:value="employee">

                  <label for="group" class="form-label text__color-gray">Group:</label>
                  <select required name="group" class="form-control shadowed-light form-select"
                    aria-label="Group selector">
                    <option th:each="group : ${interfaceGroupService.viewAllGroups()}" th:text="${group.getGrpName()}"
                      th:value="${group.getGrpId()}"></option>
                  </select>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" th:onclick="pageTransition()" th:formaction="@{/groups}"
                    class="btn btn-warning">Add Group</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <table class="table table-hover table-borderless shadowed">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name:</th>
              <th scope="col">Schedule:</th>
              <th scope="col">Phone number:</th>
              <th scope="col">Group:</th>
              <th th:if="${session.isValidated}" scope="col">Edit Employees:</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="employee : ${myEmployees}">
              <form>
                <th class="w-5" scope="row">
                  <span th:text="${employee.getEmpId()}"></span>
                  <div th:if="${session.isValidated}">
                    <input class="d-none" th:value="${employee.getEmpId()}" name="id" type="number">
                  </div>
                </th>
                <td class="w-20">
                  <span th:text="${employee.getEmpName()}"></span>
                  <div th:if="${session.isValidated}" class="collapse edit__menu"
                    th:id="'employee' + ${employee.getEmpId()}">
                    <input class="form-control edit__options shadowed-light" th:value="${employee.getEmpName()}"
                      name="name" type="text">
                  </div>
                </td>
                <td class="w-20">
                  <span
                    th:text="${interfaceScheduleService.findScheduleById(employee.getEmpSchId()).getSchTime()}"></span>
                  <div th:if="${session.isValidated}" class="collapse edit__menu"
                    th:id="'employee' + ${employee.getEmpId()}">
                    <select name="schedule" class="form-control edit__options shadowed-light form-select"
                      aria-label="Schedule Selector">
                      <option th:each="schedule : ${mySchedule}" th:text="${schedule.getSchTime()}"
                        th:selected="${interfaceScheduleService.findScheduleById(employee.getEmpSchId()).getSchId().equals(schedule.getSchId())}"
                        th:value="${schedule.getSchId()}"></option>
                    </select>
                  </div>
                </td>
                <td class="w-15">
                  <span th:text="${employee.getEmpPhoneNr()}"></span>
                  <div th:if="${session.isValidated}" class="collapse edit__menu"
                    th:id="'employee' + ${employee.getEmpId()}">
                    <input class="form-control edit__options shadowed-light" th:value="${employee.getEmpPhoneNr()}"
                      name="phone" type="tel" pattern="[0-9]{8}">
                  </div>
                </td>
                <td class="w-20">
                  <span th:text="${interfaceGroupService.findGroupById(employee.getEmpGrpId()).getGrpName()}"></span>
                  <div th:if="${session.isValidated}" class="collapse edit__menu"
                    th:id="'employee' + ${employee.getEmpId()}">
                    <select name="group" class="form-control edit__options shadowed-light form-select"
                      aria-label="Group selector">
                      <option th:each="group : ${interfaceGroupService.viewAllGroups()}" th:text="${group.getGrpName()}"
                        th:selected="${interfaceGroupService.findGroupById(employee.getEmpGrpId()).getGrpName().equals(group.getGrpName())}"
                        th:value="${group.getGrpId()}"></option>
                    </select>
                  </div>
                </td>
                <td class="w-20" th:if="${session.isValidated}">
                  <button type="button" data-bs-toggle="collapse" th:href="'#employee' + ${employee.getEmpId()}"
                    aria-expanded="false" class="text-uppercase btn btn-warning">Edit</button>
                  <button type="button" th:onclick="pageTransition()"
                    class="text-uppercase btn btn-danger">Delete</button>
                  <div class="collapse" th:id="'employee' + ${employee.getEmpId()}">
                    <button type="submit" th:onclick="pageTransition()"
                      class="text-uppercase btn btn-success button__save">SAVE</button>
                  </div>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>

      <footer th:include="shared/footer :: footer" class="mt-5" />
    </div>
  </body>

</html>