<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Search for a City | HOME</title>
  <meta name="description" content="Learning Spring | HOME">
  <meta name="author" content="Art">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div id="container">
    <!-- <form action="#" th:action="@{/}" th:object="${myCity}" method="post">
      <h1>Search for a Zip Code</h1>
      <input th:field="*{cityZipCode}" placeholder="Enter a zip code: 1662" type="text">
      <button id="btnintext" type="submit"><i class="fas fa-search"></i></button>
    </form> -->
    <a th:href="@{/login}" id="btnintext" >Log In<i class="fas fa-search"></i></a>
  </div>
</body>

</html>